/src/#oll.hpp#
/src/.CMakeLists.txt.~undo-tree~
/src/.OLL.hpp.~undo-tree~
/src/.clang-format
/src/.ol.cpp.~undo-tree~
/src/.oll.cpp.~undo-tree~
/src/.oll.hpp.~undo-tree~
/src/flycheck_ol.plist
/src/flycheck_oll.plist
data/
debug/
